<div class="mt-2 grid grid-row-12">
  <div class="row-span-2">
    <h1>Book your flight now!</h1>
  </div>
  <%= render partial: "form", locals: {airports: @airports, flight_date: @dates} %>
  <div class="mt-2 container row-span-2 border-solid border-2 border-sky-500">
    <%= form_with url: new_booking_path, method: :post, local: true do |f| %>
      <% if @flight_results.present? %>
        <% @flight_results.each do |i| %>
          <label>
            <%= radio_button_tag :flight_id, i.id %>
            <h3>Flight Number:</h3><%= i.flight_number%><br>
            <h3>Departure Airport:</h3><%= i.departure_airport.airport_code%><br>
            <h3>Arrival Airport:</h3><%= i.arrival_airport.airport_code %><br>
          </label>

        <% end %>
      <% end %>
      <h3>this is not a joke </h3>
    <% end %>

  </div>

</div>